/* Productos home*/
#productos-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    color: #f5f5f5;
}
    
  
  .tarjeta-producto{
    background-color: var(--color-acento-claro);
    text-align: center;
    padding: 10px;
    max-width: 400px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: 200ms;
  }
  
  .tarjeta-producto:hover{
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    translate: 0px -4px;
  }
  
  .tarjeta-producto img{
    max-width:100%;
    aspect-ratio: 1.5;
  }
  
  .precio{
    font-weight: 600;
  }
  
  .tarjeta-producto button{
    font-size: larger;
    background-color: var(--color-acento);
    border-radius: 5px;
    padding: 5px 10px;
    color: #f5f5f5;
    border:unset;
    cursor:pointer;
  }


  .filtro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .filtro label,
  .filtro input,
  .filtro button {
    margin: 0;
  }

  .filtro label {
    color: #f5f5f5;
  }

  .filtro input[type="number"] {
    width: 100px;
  }

  .filtro button {
    background-color: #4CAF50;
    color: #f5f5f5;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }

  /* #productos-container {
    display: flex;
    align-items: center;
  }

  label, input, button {
    margin: 0;
  }

  input[type="number"] {
    width: 50px;
  }

  button {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  } */