:root{
    --color-acento: #df896c;
    --color-acento-claro: #a18d8d;
    --color-texto: #f5f5f5;
  }
  
  body{
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(85, 58, 58);
  }
  
  h3, p{
    margin: 5px;
  }
  
  .escondido{
    display: none;
  }
  
  a{
    background-color: unset;
    border:unset;
    cursor:pointer;
    text-decoration: none;
    transition: 200ms;
    color: #b8acac;
    text-decoration: underline;
  }
  
  button{
    transition: 200ms;
  }
  
  a:hover:not(#cart), button:hover{
    color: var(--color-acento);
    translate: 0 2px;
  }
  
  /* Header */
  header{
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.09);
    margin-bottom: 40px;
    font-size: larger;
    background-color: #f5f5f5;
  }
  
  header nav{
    display: flex;
    justify-content: space-between;
    margin: 0 60px;
  }
  
  #logo{
    height: 40px;
    margin: 20px;
  }
  
  header nav div{
    display: flex;
    align-items: center;
    gap: 40px;
  }
  
  header nav img{
    height: 25px;
  }
  
  #cuenta-carrito{
    position: absolute;
    background-color: var(--color-acento);
    border-radius: 100%;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    aspect-ratio: 1;
    text-align: center;
  }